.pm-screen-background {
    width: 100%;
    height: 100vh;
    background-color: hsla(185, 78%, 71%, 1);
    position: absolute;
    left: 0;
    top: 0;
}

.pm-screen-foreground {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;    
    left: 0;
    top: 0;
}

.pm-screen-overlay {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
}
.pm-foreground-basis {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.pm-basis {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    flex-grow: 1;
}

.content {
    flex-grow: 3; 
}

.pm-clouds {
    flex-grow: 1;
}

.pm-flowers {
    flex-grow: 4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Helvetica', Arial;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rotatable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.pm-grass {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../img/pm-screen-grass-1.svg);
    background-repeat: repeat-x;
    background-size: contain;
}

.pm-logo {
    width: 100%;
    height: 98%;
    left: -2%;
    top: 2%;
    position: absolute;
    background-image: url(../img/pm-screen-logo-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.pm-rays {
    width: 110%;
    height: 110%;
    left: -10%;
    top: -10%;
    position: absolute;
    background-image: url(../img/pm-screen-rays-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pm-cloud-downers {
    left: 28%;
    background-image: url(../img/pm-screen-label-downers-1.svg);
    background-size: contain;
}

.pm-cloud-uppers {
    left: 76%;
    background-image: url(../img/pm-screen-label-uppers-1.svg);
    background-size: contain;
}

.pm-cloud {
    width: 34%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-0%);
    background-repeat: no-repeat;
    background-position: center;
}

.pm-control {
    position: absolute;
    width: 32%;
    transform: translate(-50%, 0%);
}

.pm-stem {
    position: absolute;
    width: 10%;
    bottom: 15%;
    top: 18%;
    transform: translateX(-86%);
    background-image: url(../img/pm-screen-stem-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pm-control-downers {
    left: 28%;
}

#pm-control-uppers {
    left: 76%;
}

.pm-stem-downers {
    left: 28%;
}

.pm-stem-uppers {
    left: 76%;
}

@media screen and (max-width: 567px) {
    .pm-screen-foreground {
        flex-direction: column;
    }
    .content {
        flex-grow: 4;
    }

    .pm-cloud {
        width: 38%;
    }

    .pm-control {
        width: 42%;
    }

    .pm-stem {
        width: 15%;
    }
}
